
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: rgb(247, 247, 247);
}

.header {
    margin-top: -20px;
    padding: 20px 0px 30px 0px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 35px 35px;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.tittle {
    margin: 0;
    display: flex;
    justify-content: center;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw ;
}

.block-input {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
}

.inp {
    width: 300px;
    padding: 10px;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-radius: 5px 0px 0px 5px;
    
    outline: none;
}

.add-task {
    background: #fff;
    border-radius: 0px 5px 5px 0px;
    border: none;
    font-weight: 800;
    text-align: center;
    color: #7b7b7b;
    cursor: pointer;
    transition: ease .2s;

}

.add-task:hover {
    background-color: transparent;
    color: #fff;
    font-family: sans-serif;
    font-weight: bolder;
}

.de {
    font-size: 16px;
    position: absolute;
    right:  20px;
    transition: ease .2s;
    cursor: pointer;
}

.de:hover {
    color: red;
}

.out {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    position: relative;
    width: 300px;
    margin: 10px 0 0 0;
    padding: 0;
}

.item {
    list-style-type: none;
    display: flex;
    justify-content: start;
    align-items: center;
    background: #fff;
    font-size: 14px;
    margin: 5px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
    transition: ease-in-out .2s;
}

.completed-item {
    list-style-type: none;
    display: flex;
    justify-content: start;
    align-items: center;
    background: rgb(123, 123, 123);
    font-size: 14px;
    color: #fff;
    margin: 5px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
    transition: ease-in-out .2s;
}

.item:hover {
    background-color: rgb(247, 247, 247);
}

.completed-item:hover {
    background-color: rgb(247, 247, 247);
    color: gray;
}

.item​,
.text {
    color: #7b7b7b;
    font-weight: 600;
    margin-left: 10px;
}

​.text,
.line_through {
    margin-left: 10px;
    text-decoration: line-through;
    color: lightgray;
}

.input_inner_task {
    border-color: transparent;
    border-radius: 10px;
    width: 200px;
    outline: none;
}